@charset "UTF-8";

/*
    PALHETA DE CORES

    TOM DE AZUL: #34B8D9
    TOM DE VERDE:#88DBB5
    TOM DE AZUL MAIS ESCURECIDO: #3450D9
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}


body,html{
    background-color: #3450D9 ;
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
    transition: width 0.5s,heigth 0.5s;
    transition-timing-function: ease;

}

#imagem{
    background: #3450D9 url(../imagens/pexels-svitlana-shakalova-1789851085-32437322\ \(1\).jpg) no-repeat ;
    height: 200px;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    display: block;

}

#formulario{
    padding: 10px;
    display: block;
}

#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
#formulario > p{
    font-size: 0.8em;
}

form > input[type = submit]{
    display: block;
    font-size: 1.3em;
    width: 100%;
    height: 40px;
    background-color: #88DBB5 ;
    border: none;
    border-radius: 5px;
    color: white;
}

form > input[type = submit]:hover{
    cursor: pointer;
    background-color: #629e83;
}

.campo{
    background-color: #34B8D9;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px ;
    margin: 5px 0px;
}


.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    color: #629e83;
    text-decoration: none;
    border: 1px solid #629e83;
    margin-top: 5px;
    border-radius: 5px;
    padding-top: 8px;
}

.botao:hover{
    cursor: pointer;
    background-color: #c8ffe6;
}