@charset "UTF-8";

/*
    PALHETA DE CORES

    TOM DE AZUL: #34B8D9
    TOM DE VERDE:#88DBB5
    TOM DE AZUL MAIS ESCURECIDO: #3450D9
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}


body,html{
    background-color: #3450D9 ;
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
    display: block;
}

#imagem{
    background: #3450D9 url(../imagens/pexels-svitlana-shakalova-1789851085-32437322\ \(1\).jpg) no-repeat ;
    height: 200px;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    display: block;

}

#formulario{
    padding: 10px;
}